html {
    background-color: turquoise;
    font: 40px Bold;
}

.lheader {
    background-color: yellow;
    font: 75px Bold;
    font-family: 'Allerta Stencil', sans-serif;
}

.redirect-main {
    border: 2px solid black;
    text-align: center;
}

.redirect-main:hover {
    background-color: turquoise;
}