/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Nov, 2018, 9:21:23 PM
    Author     : LENOVO
*/

html {
	margin: 0px;
	padding: 0px;
}

body {
	background: #0f0c29;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card {
    background: #59C173;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 5px Solid Black;
    border-radius: 25px;
    margin: 5px;
    position: relative;
    float: left;
    display: inline-block;
    width: 245px;
    text-align: center;
    height: 250px;
}

.card-title {
	border-bottom: 2px Solid #08D5A6;
	border-radius: 20px;
	margin: 0;
	padding: 5px;
	padding-top: 10px;
	font: 25px Bold Italic;
	font-family: 'Poor Story', cursive;
	height: 5em;
	text-align: left;
}

/*Pagination*/
#easyPaginate {
	clear: both;
}

#easyPaginate {
	display:block;
	margin-bottom:10px;

}

.easyPaginateNav a {
	padding:5px;
}

.easyPaginateNav a.current {
	font-weight:bold;
	text-decoration:underline;
}
/*End of pagination block*/


.init-block {
	width: 100%;
	height: 100px;
	background-color: yellow;
	margin: 0;
	padding-top: 10px;
	text-align: center;
	/*text*/	
	font: 50px Bold;
	font-family: 'Spicy Rice', cursive;
	text-decoration: double underline;
}

.clear {
	clear: both;
}

.card-subtitle {
	font: 18px Bold;
	font-family: 'Orbitron', sans-serif;
	padding: 0px;
	margin: 15px
}

.lefty-block {
	position: relative;
	float: left;
	width: 40%;
}

.righty-block {
	width: 50%;
	float: right;
	background-color: white;
	/*color: red;*/
	padding: 7px;
}

/*Editor's choice text on hover*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    width: 120px;
    top: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    cursor: none;
}

.leftyre {
	float: right;
	font: 20px Bold;
	font-family: 'Luckiest Guy', cursive;
	border-left: 5px Solid Black;
	border-right: 5px Solid Black;
	border-bottom: 5px Solid Black;
	border-radius: 10px;
	margin-right: 5px;
}


/*Experimenting navbar*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*NavBar*/
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.legged-in {
    cursor: none;
}

/*Snackbar*/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #fff; /* Black background color */
    color: #000; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 0; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
   However, delay the fade out process for 2.5 seconds */
   -webkit-animation: fadein 5s, fadeout 5s;
   /*animation: fadein 1s, fadeout 20s;*/
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
