/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Nov, 2018, 9:21:23 PM
    Author     : LENOVO
*/

html {
	margin: 0px;
	padding: 0px;
}

body {
	background: #0f0c29;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card {
    background: #59C173;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 5px Solid Black;
    border-radius: 25px;
    margin: 5px;
    position: relative;
    float: left;
    display: inline-block;
    width: 245px;
}

.card-title {
	border: 2px Solid green;
	border-radius: 20px;
	margin: 0;
	padding: 5px;
	padding-top: 10px;
	font: 25px Bold;
	font-family: 'Poor Story', cursive;
	height: 5em;
}

/*Pagination*/
#easyPaginate {
	clear: both;
}

#easyPaginate {
	display:block;
	margin-bottom:10px;

}

.easyPaginateNav a {
	padding:5px;
}

.easyPaginateNav a.current {
	font-weight:bold;
	text-decoration:underline;
}
/*End of pagination block*/


.init-block {
	width: 100%;
	height: 100px;
	background-color: yellow;
	margin: 0;
	padding-top: 10px;
	text-align: center;
	/*text*/	
	font: 50px Bold;
	font-family: 'Spicy Rice', cursive;
	text-decoration: double underline;
}

.clear {
	clear: both;
}

.card-subtitle {
	font: 18px Bold;
	font-family: 'Orbitron', sans-serif;
	padding: 0px;
	margin: 15px
}